language: python
python:
  # - "2.6"
  # - "2.7"
  # - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  # - "3.7-dev"  # 3.7 development branch
# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install coverage
  - pip install python-coveralls
  - pip install pytest
  - pip install pytest-cov
  - pip install -r requirements.txt
script:
  - python setup.py install
  - pytest -v --cov-report term --cov-report xml --cov=sysml tests/ # or py.test for Python versions 3.5 and below
after_success:
  - coveralls
