language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install uuid
  - pip install pytest
  - pip install coverage
  - pip install python-coveralls
  - pip install pytest-cov# command to run tests
script:
  - py.test -v tests/test_model.py # or py.test for Python versions 3.5 and below
branches:
  only:
  - dev
  - master
YAML
